1. Изменить ник с командера на любой другой. Если в течении 7 дней не сменил то кик.<br>
2. Переместится к базе. еЕсли больше 3х дней и 2х предупреждений не прилетел то кик<br>
3. Если на игрока прилетает 2 жалобы и нет реации то кик <br>
4. Если есть реакция, то максимум 3 жалобы <br>
5. Не вышел лицом то кик <br>
6. Не адекватное поведение кик<br>
7. Молчун и не кчпствует в ивентах то кик<br>
8. Нет роста силы и не качается то кик<br>
