1. Изменить ник с командера на любой другой. Если в течении 7 дней не сменил то кик.<br>
2. Переместится к базе. еЕсли больше 3х дней и 2х предупреждений не прилетел то кик<br>
3. Если на игрока прилетает 2 жалобы и нет реации то кик <br>
4. Если есть реакция, то максимум 3 жалобы <br>
5. Не вышел лицом то кик <br>
6. Не адекватное поведение кик<br>
7. Молчун и не кчпствует в ивентах то кик<br>
8. Нет роста силы и не качается то кик<br>



I. ИДЕНТИФИКАЦИЯ БОЙЦА<br>
Ликвидация безликих: Новобранцы обязаны сменить стандартный позывной «Командер» на уникальное имя в течение 5 дней.<br>
Безликим не место среди элиты — по истечении срока вы будете признаны дезертиром и изгнаны.<br>
II. ДИСЦИПЛИНА И ДИСЛОКАЦИЯ<br>
Приказ о переброске: База содружества — наш главный бастион. Вы обязаны перенести свое Убежище к общим координатам.<br>
У вас есть 3 дня и 2 официальных предупреждения. Если ваши стены не встанут в общий строй, вас вышвырнут за периметр.<br>
III. ТРИБУНАЛ И ЖАЛОБЫ<br>
Игнорирование трибунала: Если на бойца поступает 2 обоснованные жалобы, а в ответ тишина — это измена. Изгнание без права на амнистию.<br>
Лимит доверия: Признание ошибок смягчает вину, но терпение содружества не безгранично. Максимум 3 жалобы, после чего контракт расторгается.<br>
IV. ВЕРНОСТЬ И ЧЕСТЬ<br>
Клятва верности: Сражайся за флаг содружества. Тот, кто «не вышел лицом» (пошел против интересов и приказов командования), признается предателем и изгоняется.<br>
Психологический отбор: Безумцам и провокаторам здесь не рады. За неадекватное поведение и токсичность — моментальный выброс в лапы мертвецов.
V. БОЕВАЯ АКТИВНОСТЬ И ЭВОЛЮЦИЯ<br>
Закон радиомолчания: Молчуны и те, кто игнорирует общие ивенты и боевые вылазки, — балласт. Мы избавляемся от балласта, чтобы выжить.<br>
Закон эволюции: В этом мире ты либо растешь, либо становишься кормом. Если твоя Сила стоит на месте и ты не качаешься — содружество укажет тебе на дверь.<br>

